<!doctype html>
<html>
<head>
    <link href="https://bootswatch.com/5/sandstone/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="manifest" href="/static/manifest.json">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body{padding-top:80px}

        /* HIDE RADIO */
        [type=radio] {
          position: absolute;
          opacity: 0;
          width: 0;
          height: 0;
        }

        /* IMAGE STYLES */
        [type=radio] + img {
          cursor: pointer;
        }

        /* CHECKED STYLES */
        [type=radio]:checked + img {
          outline: 3px solid #00f;
        }
    </style>
</head>
<body>
<div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
    <div class="container">
        <a href="../" class="navbar-brand">CrMs</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav">
                {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="/view">Náhľad</a>
                </li>
                <li style="display:none;" id="install-button">
                    <a href="#">
                        <i class="metismenu-icon pe-7s-display2"></i>
                        Install app
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/export">Export JSON</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/export_csv">Export CSV</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Odhlásiť</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>


{% block content %} {% endblock %}

<script src="https://bootswatch.com/_vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/js/all.min.js" integrity="sha512-2bMhOkE/ACz21dJT8zBOMgMecNxx0d37NND803ExktKiKdSzdwn+L7i9fdccw/3V06gM/DBWKbYmQvKMdAA9Nw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript" src="/static/main.js"></script>
</body>
<html>
