{% extends 'layout.j2' %}
{% from "form_helpers.j2" import render_field %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col d-flex justify-content-center mb-3">
                <h1>Prihlásiť sa</h1>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-center">
                <form method="post" action="{{ url_for('login') }}">
                  <div class="form-group">
                    {{ render_field(form.username,class_="form-control") }}
                  </div>
                  <div class="form-group mt-2">
                    {{ render_field(form.password,class_="form-control") }}
                  </div>
                  <button type="submit" class="btn btn-primary mt-3">Prihlásiť sa</button>
                </form>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col d-flex justify-content-center">
                <div class="me-1">Nemáš ešte účet?</div><a href="{{ url_for("register") }}"> Registruj sa </a>
            </div>
        </div>

    </div>
{% endblock %}
