{% extends 'layout.j2' %}

{% block content %}
    <style>
    .cell {
        vertical-align: top;
        text-align:center;
        height:166px;
        border-style: solid;
        border-width:1px;
    }

    </style>
    <div class="container-flex">
        <div class="row">
      <div class="col d-flex justify-content-left">
          <a href="{{ url_for("index",day=day_date) }}"><h1><i class="fa-solid fa-arrow-left"></i> Späť</h1></a>
      </div>
        </div>
    <div class="row">
    <div class="col">
<table style="border-style: solid; border-width:1px">
    {% if not cycles %}
    <h2>Nie sú dostupné žiadne údaje</h2>
    {% else %}
    {% for cycle in cycles %}
    <tr>
        {% for day in cycle %}
            {% if day==None %}
            <td class="cell" style="width:100px;"><div>{{ loop.index }}</div></td>

            {% else %}
        <td class="cell" style="background-image:url({{ url_for('static', filename=day.category+".png") }})">
        <div style="width:100px;">{{ loop.index }}</div>
        <div style="margin-top:0px"><a style="color: black" href="{{ url_for("index",day=day.date) }}">{{ day.date }}</a></div>
        <div style="margin-top:0px; font-size: 50px; height:70px;">
            {% if day.arrow=="up" %}<i class="fa-solid fa-arrow-up"></i>{% elif day.arrow=="down"%}<i class="fa-solid fa-arrow-down"></i>{% endif %}
            {{ day.format_peak() }}
        </div>
        <div style="margin-top:0px; height:20px; line-height: 0.8">{{ day.notes }} </div>
        <div style="margin-top:0px">{{ day.format() }}</div>
        </td>
            {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
    {% endif %}
</table>
    </div>
    </div>
    </div>
{% endblock %}
